@{
    ViewBag.Title = "Home Page";
}

@if (Session["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        <strong>@Session["ErrorMessage"]</strong>
    </div>
}
<div class="row">

        <h2></h2>
        <div class="jumbotron col-lg-6" style=" height: 450px; overflow-y: scroll;">
            <h2 style=" margin-left: -40px; margin-top:-40px" class="text-center">Cards in the Deck</h2>
            @{
                foreach (var card in (string[])ViewData["DeckArray"])
                {
                    <img src="@Url.Content(string.Format("~/images/deck/"+card+".png"))" width="60" height="90" style=" margin-left: -30px" />
                }

            }
        </div>




        <div class="jumbotron col-lg-5 col-lg-offset-1" style=" height: 450px; overflow-y: scroll;">
            <h2 style=" margin-left: -40px; margin-top:-40px" class="text-center">Cards Dealt</h2>

            @{
                foreach (var card in (List<string>)ViewData["DealtCardsArray"])
                {

                    <img src="@Url.Content(string.Format("~/images/deck/"+card+".png"))" width="60" height="90" style=" margin-left: -30px" />
                }

            }
    </div>
    <div class="col-lg-1  btn-group-vertical btn-block">
        <input type="button" class="btn btn-primary  btn-lg" onclick="DealOneCard()" value="Deal One Card" />
        <input type="button" class="btn btn-primary  btn-lg" onclick="Shuffle()" value="Shuffle" />
        <input type="button" class="btn btn-primary   btn-lg" onclick="Clear()" value="Start Again" />
    </div>
</div>



<script>

    function Shuffle() {
        $.get("/Home/Shuffle", function (data) {
            location.reload();
        });

    }
    function Clear() {
        $.get("/Home/Clear", function (data) {
            location.reload();
        });
    }
    function DealOneCard() {
        $.get("/Home/DealOneCard", function (data) {
            location.reload();
        });
    }



</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
